<ui-form-field label="Country">
  <ui-select formControlName="country" hasSearchInput multiple>
    <ui-option value="MAR">Morocco</ui-option>
    <ui-option value="PAL">Palestine</ui-option>
    <ui-option value="AND">Andorra</ui-option>
    <ui-option value="BRA">Brazil</ui-option>
    <ui-option value="HND">Honduras</ui-option>
    <ui-option value="COL">Colombia</ui-option>
    <ui-option value="NPL">Nepal</ui-option>
    <ui-option value="SGR">Singapore</ui-option>
  </ui-select>
</ui-form-field>
